// Typography
$text-muted: #9FA9BA;
$input-placeholder-color: #9FA9BA;

// Grid
$grid-gutter-width: 50px;

// Card
$card-border-color: #DCE0E6;
$input-border-color: #DCE0E6;
$card-border-radius: .2rem;
